---
import Layout from "$layouts/base.astro";
import Link from "$components/link.svelte";
import PageIntro from "$components/page-intro.svelte";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const ideas = await getCollection("ideas");
  const paths = ideas.map((idea) => {
    return {
      params: {
        slug: idea.slug,
      },
      props: { idea },
    };
  });
  return paths;
}

export type Props = {
  idea: CollectionEntry<"ideas">;
};

const { idea } = Astro.props;
const { Content, headings } = await idea.render();
---

<Layout title={idea.data.title} description={idea.data.description}>
  <div class="grid grid-cols-1 lg:grid-cols-[auto,1fr] lg:gap-20">
    <div>
      <PageIntro heading={idea.data.title} subheading={idea.data.description} />
      <hr class="my-5" />
      <ul class="mt-10 hidden lg:block">
        <li
          class="tracking-loose text-xs font-medium uppercase leading-loose text-neutral-500"
        >
          Headings
        </li>
        {
          headings.map(({ text }) => (
            <li>
              <a
                href={`#${text}`}
                class="underline-offset-2 hover:underline focus:underline focus:outline-none"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <article>
      <Content />
    </article>
  </div>
</Layout>
