---
import { Image } from "astro:assets";
import InChair from "$assets/in-chair.jpg";
---

<div class="my-8 columns-2 gap-4 sm:columns-3">
  <Image
    src={InChair}
    alt="Chip and Dale"
    sizes="(max-width: 768px) 213px, 33vw"
    class="mb-4 h-40 rounded-lg object-cover object-top"
    loading="eager"
  />
  <Image
    src={InChair}
    alt="Chip and Dale"
    sizes="(max-width: 768px) 213px, 33vw"
    class="mb-4 h-80 rounded-lg object-cover object-top sm:mb-0"
    loading="eager"
  />
  <Image
    src={InChair}
    alt="Chip and Dale"
    sizes="(max-width: 768px) 213px, 33vw"
    class="h-40 rounded-lg object-cover object-top sm:mb-4 sm:h-80 sm:object-center"
    loading="eager"
  />
  <Image
    src={InChair}
    alt="Chip and Dale"
    sizes="(max-width: 768px) 213px, 33vw"
    class="relative mb-4 h-40 rounded-lg object-cover sm:mb-0"
    loading="eager"
  />
  <Image
    src={InChair}
    alt="Chip and Dale"
    sizes="(max-width: 768px) 213px, 33vw"
    class="mb-4 h-40 rounded-lg object-cover"
    loading="eager"
  />
  <Image
    src={InChair}
    alt="Chip and Dale"
    sizes="(max-width: 768px) 213px, 33vw"
    class="relative h-80 rounded-lg object-cover"
    loading="eager"
  />
</div>
