---
import "$style/global.css";
import Banner from "$components/banner.svelte";
import CommandMenu from "$components/command-menu";
import Header from "$components/header.astro";
import Footer from "$components/footer.svelte";
import OpenGraphImage from "$assets/opengraph-image.jpg";
import { groups, suggestions } from "$data/cmdk";
export type Props = {
  title: string;
};

const { title } = Astro.props;

const meta = {
  title: "dmitrykrasnov",
  description: "A polyglot programmer, self-starter and coding enthusiast.",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robot" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:url" content="https://dkrasnov.dev" />
    <meta property="og:site_name" content={meta.title} />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content={`image/${OpenGraphImage.format}`} />
    <meta property="og:image:width" content={OpenGraphImage.width.toString()} />
    <meta
      property="og:image:height"
      content={OpenGraphImage.height.toString()}
    />
    <meta property="og:image" content={OpenGraphImage.src} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={meta.title} />
    <meta property="twitter:description" content={meta.description} />
    <meta
      property="twitter:image:type"
      content={`image/${OpenGraphImage.format}`}
    />
    <meta
      property="twitter:image:width"
      content={OpenGraphImage.width.toString()}
    />
    <meta
      property="twitter:image:height"
      content={OpenGraphImage.height.toString()}
    />
    <meta property="twitter:image" content={OpenGraphImage.src} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Banner />
    <a
      href="#content"
      class="sr-only h-12 rounded-md bg-neutral-900 transition focus:not-sr-only focus:outline-none focus:ring"
      ><span class="m-2.5 p-2.5">Skip to Main Content</span></a
    >
    <Header />
    <main id="content" class="flex justify-center px-page-gutter py-page-top">
      <div class="min-h-content w-full max-w-content">
        <slot />
      </div>
    </main>
    <Footer />
    <CommandMenu
      groups={groups}
      suggestions={suggestions}
      placeholder="Search for projects, posts or snippets..."
      empty="No results found."
      client:load
    />
  </body>
</html>
